@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.cdnfonts.com/css/proclamate");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

.abel-regular {
	font-family: "Abel", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.special-gothic-condensed-one-regular {
	font-family: "Special Gothic Condensed One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.info {
	font-family: "Abel", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	text-align: center;
	overflow-wrap: break-word;
}

.header {
	font-family: "Special Gothic Condensed One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4rem;
}

ul {
	list-style: none;
	padding-left: 0;
}

#container {
	display: flex;
	justify-content: space-between;


}

@media screen and (width <=900px) {
	#container {
		display: block;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

#about {
	border-right: solid 1px black;
	padding-right: 1rem;
	width: 70%
}

@media screen and (width >900px) {
	.association {
		width: 60%;
	}
}

@media screen and (width <=900px) {
	#about {
		border: none;
		margin: auto;
		padding-right: 1rem;
		width: 70%
	}

	.association {
		width: 100%;

	}
}

#more_info {
	padding-top: 5rem
}

@media screen and (width <=900px) {
	#more_info {
		display: block;
		justify-content: space-between;
		padding-top: 5rem;
		flex-wrap: wrap;
	}
}



#demos {
	padding-left: 1rem;
}





figcaption {
	font-size: 1rem;
}

img.work {
	width: 10rem;
	padding: 1rem;

}

.works {
	gap: 1rem;
}

img.download {
	width: 2rem;
}

img.social_media_logo {
	width: 3rem;
}

div.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

div.books {
	display: inline-block;
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	letter-spacing: -0.3rem;
	z-index: 1;
}

div.books span {
	margin: 0 auto;
	margin-left: 0.3em;
	display: inline-block;
	position: relative;
}

div.books span:before {
	content: "";
	position: absolute;
	top: -0.2em;
	left: -0.2em;
	width: 100%;
	height: 100%;
	padding: 0.2em;
	z-index: -1;
}

div.books span:nth-child(1) {
	font-family: "Proclamate Light", sans-serif;
	text-transform: lowercase;
	color: #ffc863;
}

div.books span:nth-child(1)::before {
	background: #332929;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
}

div.books span:nth-child(2) {
	font-style: italic;
	font-family: "Playfair Display", serif;
	color: #023020;
	text-shadow: 0.02em 0.02em 0 #a52a2a, 0.03em 0.03em 0 #a52a2a;
}

div.books span:nth-child(2)::before {
	background: #f5deb3;
}

div.books span:nth-child(3) {
	font-family: "Satisfy", cursive;
	font-weight: 400;
	font-style: normal;
	color: #28282B;
}

div.books span:nth-child(3)::before {
	background: #a52a2a;
	clip-path: polygon(20% 0%, 99% 0, 100% 100%, 0% 100%);
}

div.books span:nth-child(4) {
	font-family: "Love Ya Like A Sister", cursive;
	color: #22232e;
}

div.books span:nth-child(4)::before {
	background-image: radial-gradient(rgba(0, 194, 203, 0.7) 3px, transparent 3px);
	background-color: #e0ffff;
	background-size: 10px 10px;
	clip-path: polygon(20% 0%, 99% 0, 100% 100%, 0% 100%);
}

div.books span:nth-child(5) {
	font-family: "Poppins", serif;
	color: #00c2cb;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.07em rgba(237, 10, 139, 0.7);
}

div.books span:nth-child(5)::before {
	background: rgba(0, 194, 203, 0.7);
	clip-path: polygon(0 24%, 100% 20%, 100% 86%, 0 82%);
}

.butcherman_regular {
	font-family: "Butcherman", system-ui;
	font-weight: 400;
	font-style: normal;
	color: #780606;
}

.retro {
	font-family: 'Mr Dafoe';
	margin: 0;
	font-size: 2.5rem;
	margin-top: -0.6em;
	color: white;
	text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
	transform: rotate(-7deg);
}


.long_cang {
	font-family: "Long Cang", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 3rem;
	color: #7c996e;
}
